# Ignore Python bytecode and cache files
__pycache__
.local
*.egg-info/
build/

# Ignore output and log directories
output/qwen3vl_bt_reward/*
# logs/

# Environment files
.env

# IDE files
.vscode/
.idea/

# Data files
data/**/*.json*
data/**/*.csv*
data/**/*.xlsx*
data/**/*.arrow